[submodule ".emacs.d/plugins/auto-complete"]
	path = .emacs.d/plugins/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule ".emacs.d/plugins/emacs-powerline"]
	path = .emacs.d/plugins/emacs-powerline
	url = git://github.com/jonathanchu/emacs-powerline.git
[submodule ".emacs.d/plugins/yasnippet"]
	path = .emacs.d/plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule ".emacs.d/plugins/coffee-mode"]
	path = .emacs.d/plugins/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule ".emacs.d/plugins/tabbar"]
	path = .emacs.d/plugins/tabbar
	url = https://github.com/dholm/tabbar.git
[submodule ".emacs.d/plugins/django-mode"]
	path = .emacs.d/plugins/django-mode
	url = https://github.com/myfreeweb/django-mode.git
